#titel {
  font-size: 48px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#headText {
  text-align: center;
  color: gray;
  font-size: 36px;
}

#headTextPieChart {
  text-align: center;
  color: gray;
  font-size: 36px;
}

#headTextLineChart {
  text-align: center;
  color: gray;
  font-size: 36px;
}

#text {
  font-size: 24px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: gray;
}

#map {
  text-align: center;
}

#pieChartSvg {
  text-align: center;
}

#lineChartSvg {
  text-align: center;
}
